@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&family=Bungee+Spice&family=Gravitas+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.slip{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.slip-header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.campany-name span{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;

}
.date-paid{
    background: rgba(0, 0, 255, 0.39);
    padding: 10px;
    border-radius: 5px;
}
.employee-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;

}
.employee-info span{
    font-size: 1.2rem;
    font-weight: 700;
    color:green;
}
.employee-info p{
    font-size: 1.2rem;
    font-weight: 700;
    color:gray
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.table-heading{
    background: rgba(0, 0, 255, 0.39);
    padding: 10px;
    border-radius: 5px;
}
.table-heading td{
    font-size: 1.2rem;
    font-weight: 700;
   
    text-align: left;
}

.table-body td{
    font-size: 1.2rem;
    font-weight: 700;
    color:gray;

}
.net-pay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #ccc;
    background: rgba(0, 0, 255, 0.39);
}
.net-pay span{
    font-size: 1.2rem;
    font-weight: 700;
    color:rgba(0, 0, 255, 0.692);
}
.earning-breakdown{
    margin-top: 2rem;
}
.basic-salary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
 
